
/* //////////////////////////////////////
Register page css */

.form-controller{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-color: #f9f3f3;
    /* background-color: antiquewhite; */
  }

  .form-controller form{
    box-sizing: border-box;
    background-color: rgb(253, 251, 251);
    padding: 20px;
    padding-right: 45px;
    border-radius: 20px;
  }

  .form-controller form input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    font-size: larger;
    font-family: bold;
  }

  /* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

.form-controller h1{
    font-family: 'Playfair Display', serif;
    color: #223781;
    text-align : center;
    margin-left: 30px;
}

.form-controller button{
    width: 270px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.728);
    text-transform: uppercase;
}

.form-controller button :hover{
  color: black;
}

.form-controller input{
  width: 270px;
  margin-left: 30px;
}

 /* forgot password */
.forgot-password{
  color: rgb(75, 12, 223);
  font-weight: bolder;  
}
.forgot-password:hover{
  text-decoration: underline;
  color: red;
}
 