
/* //////////////////////////////////////
Register page css */

.form-controller{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-color: #f9f3f3;
  }

  .form-controller form{
    box-sizing: border-box;
    background-color: rgb(253, 251, 251);
    padding: 40px;
    border-radius: 20px;
  }

  .form-controller form input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    font-size: large;
  }

  /* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

.form-controller h1{
    font-family: 'Playfair Display', serif;
    color: #223781;
    text-align : center;
}

.form-controller button{
    width: 270px;
    font-size: 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.728);
    text-transform: uppercase;
}

.form-controller button :hover{
  color: black;
}

.form-controller input{
  width: 270px;
}

 /* forgot password */
form p{
  color: rgb(59, 59, 190);
  text-decoration: underline;
  font-weight: bolder;
}
 